<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
</head>

<body>
    <h1>Novo Plano</h1>


    <form>
        <label for="idplano">ID Plano:</label><br>
        <input type="text" id="idplano" name="idplano"><br>

        <label for="tpplano">Tipo do Plano:</label><br>
        <input type="text" id="tpplano" name="tpplano"><br>

        <label for="nmplano">Nome do Plano:</label><br>
        <input type="text" id="nmplano" name="nmplano"><br>
    </form>
    <form>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
