<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuario</title>
</head>

<body>
    <h1>Usuario</h1>


    <form>
        <label for="fname">Nome Completo:</label><br>
        <input type="text" id="fname" name="fname"><br>

        <label for="cdcpf">CPF:</label><br>
        <input type="text" id="cdcpf" name="cdcpf"><br>

        <label for="genero">Gênero:</label><br>
        <input type="text" id="genero" name="genero"><br>

        <label for="dtnasc">Data de Nascimento:</label><br>
        <input type="text" id="dtnasc" name="dtnasc"><br>

        <label for="endlogradouro">Endereço:</label><br>
        <input type="text" id="endlogradouro" name="endlogradouro"><br>

    </form>

</body>
</html>


