<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
</head>

<body>
    <h1>Novo Exame</h1>


    <form>
        <label for="idexame">ID Exame:</label><br>
        <input type="text" id="idexame" name="idexame"><br>

        <label for="nmexame">Descrição:</label><br>
        <input type="text" id="nmexame" name="nmexame"><br>

        <label for="vlresultado">Resultado:</label><br>
        <input type="text" id="genero" name="genero"><br>

        <label for="dtexame">Data do exame:</label><br>
        <input type="text" id="dtexame" name="dtexame"><br>

    </form>
    <form>
        <button type="submit">Enviar</button>
    </form>

</body>
</html>


