<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Médico</title>
</head>

<body>
    <h1>Cadastro de Médico</h1>

     <form> 
        <label for="idcrm">CRM:</label><br>
        <input type="text" id="idcrm" name="idcrm"><br>

        <label for="nmmedico">Nome Completo:</label><br>
        <input type="text" id="nmmedico" name="nmmedico"><br>

        <label for="tpespecialidade">Especialidade:</label><br>
        <input type="text" id="tpespecialidade" name="tpespecialidade"><br>

        <label for="lcatendimento">Local de Atendimento:</label><br>
        <input type="text" id="lcatendimento" name="lcatendimento"><br>

        <label for="numcontato">Contato:</label><br>
        <input type="text" id="numcontato" name="numcontato"><br>
     </form>

</body>
</html>
